<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    {% csrf_token %}

    <h1>Let's Chat</h1>

    <div id="messageBox">

    </div>
    {%for message in messages %}
       <p> {{message.message}}</p>
    {% endfor %}    
    <div>
        <form id = "target" method="POST">
            {% csrf_token %}
            <input id="message" placeholder="write your message">
            <input id="send" type="button" >
        </form>
        
        <script>
            const csrfmiddlewaretoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $(document).ready(function() {
        
               var extra_data = "This is more stuff to send";
        
               $('#target').click(function() {
                  $.ajax({
                     type: "POST",
                     url: "http://127.0.0.1:8000/home/",
                     data: {"message": $("#message").val(), csrfmiddlewaretoken},
                     success: function(msg) {
                        console.log("yay");
                     }
                  });
        
               });
        
            });
        
        </script>
    </div>

</body>
</html>